@model IEnumerable<ToDoList.Models.Item>

@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<html>
<head>
    <title>To Do List</title>
</head>
<body>
    <h2>To Do List</h2>
    <p>@Html.ActionLink("Task list", "Index", "Items")</p>
	<h2>Category List</h2>
	<p>@Html.ActionLink("Category List", "Index", "Categories")</p>	
</body>
</html>